@model IEnumerable< CNPM_ktxUtc2Store.Models.productVariation>
@{
    // Since Product isn't a string, it requires a cast.
    var product = ViewData["Product"] as product;
}


<div class="detail-card-wrapper">
    <div class="card">
        <!--card trái-->
        <div class="product-imgs">
            <div class="img-display">
                <div class="img-showcase">
                    <img src="/images/@product.imageUrl" alt="Tshirt image">
                   
                </div>
            </div>
        </div>
        <!--card phải-->
        <div class="product-content">
            <h2 class="product-title">@product.productName</h2>
            <a href="#" class="product-link">visit shop</a>
            <div class="product-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>4.5(3700)</span>
            </div>
            <div class="product-price">
                <p class="last-price">Giá cũ: <span>@product.price</span></p>
                <p class="new-price">Giá hiện tại: <span>@product.price</span></p>
            </div>

            <div class="product-detail">
                @foreach(var item in Model)
                {
                    
                    @if (item.variation.name == "size")
                    {
                        <p>Size</p>
                        <div class="size">
                            <div class="psize">
                                <p>@item.variation.value</p>
                            </div>
                         
                        </div>
                        
                    }
                    @if (item.variation.name == "color")
                    {
                        <p>Color</p>
                        <div class="size">
                            <div class="psize">
                                <p>@item.variation.value</p>
                            </div>
                        </div>
                    }
                }
               

                <div class="purchase-info">
                    <p>Số Lượng</p>
                    <input type="number" min="0" value="1">
                    <button type="button" onclick="AddItem(@product.Id)" class="btn">
                        Thêm vào giỏ hàng <i class="fas fa-shopping-cart"></i>
                    </button>
                    <button type="button" class="btn">
                        Mua ngay
                    </button>
                </div>
                <p>
                    <h3>MÔ TẢ SẢN PHẨM</h3>
                    @product.description
                </p>
            </div>
            <div class="social-links">
                <p>Chia sẻ</p>
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#">
                    <i class="fab fa-facebook-messenger"></i>
                </a>
                <a href="#">
                    <i class="fab fa-whatsapp"></i>
                </a>
                <a href="#">
                    <i class="fab fa-pinterest"></i>
                </a>
            </div>
        </div>
    </div>
</div>
  @section Scripts
  {
    <script>
        async function AddItem(productId) {

            var usernameEl = document.getElementById("username");

            if (usernameEl == null) {
                window.location.href = "/Identity/Account/Login";
            }
            try {
                var response = await fetch(`/Cart/AddItem?productId=${productId}`);

                if (response.status == 200) {
                    var result = await response.json();
                    console.log(result);
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                    window.location.href = "#cartCount"
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>
}