@model IEnumerable<CNPM_ktxUtc2Store.Models.variation_option>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Loại sản phẩm
            </th>
            <th>
                Biến thể
            </th>
           
            <th>
                Giá trị
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.variation.category.categoryName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.variation.name)
            </td>
            
                <td>
                    @Html.DisplayFor(modelItem => item.value)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
