@* @model CNPM_ktxUtc2Store.Dto.productVaritionCreateView *@
@model CNPM_ktxUtc2Store.Areas.Admin.dto.productvariationDto
@{
    ViewData["Title"] = "AddVariation";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@{
    bool isAdded = false;
}
<div class="admin-product-head">
    <div class="head-item">
        <h5><i class="far fa-clipboard"></i> Danh sách sản phẩm</h5>
    </div>
    <div class="head-item add-product">
        <a class="" style="" href="/Admin/products"><button class="btn-return">Trở về danh sách</button></a>
    </div>
</div>

<div class="edit-body edit-body-variation">
    <div class="edit edit-variation">
        <div>
            <div class="edit-item">
                <div>Màu sắc</div>
                <hr />
            </div>
            <div class="edit-item">
                <div class="edit-item-variation">
                    <form asp-area="Admin" asp-controller="products" asp-action="AddVariation">
                        <input  type="hidden" asp-for="productId"/>
                        @foreach (var outerItem in Model.Variations)
                        {
                            @if (outerItem.name == "color")
                            {
                                isAdded = false;
                                @foreach (var innerItem in Model.productVariations)
                                {
                                    if (innerItem.variationId == outerItem.Id)
                                    {
                                        isAdded = true; // Nếu tìm thấy phần tử tương đương, đặt isAdded thành true và thoát vòng lặp

                                        break;
                                    }
                                }
                                @if (isAdded)
                                {
                                    <div class="edit-item-variation-item">
                                        <div class="admin-variation-select">
                                            <label>
                                                <input asp-for="Id" type="radio"
                                                       value="@outerItem.Id" />
                                            </label>
                                        </div>
                                        <div class="admin-variation-value" style="color:dodgerblue;">
                                            @outerItem.value
                                        </div>
                                        <div class="admin-variation-control">
                                            <button class="btn-vremove"><i class="fas fa-remove" onclick="deletevariation(productId,@outerItem.Id)"></i></button>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="edit-item-variation-item" style="margin-top: 5px;">
                                        <div class="admin-variation-control">
                                            <label>
                                                <input asp-for="Id" type="radio"
                                                       value="@outerItem.Id" />
                                            </label>
                                        </div>
                                        <div class="admin-variation-value">
                                            @outerItem.value
                                        </div>
                                        <div class="admin-variation-control">
                                            <button type="submit" class="btn-vcheck"><i class="fas fa-check"></i></button>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </form>
                    
                </div>

            </div>
        </div>
    </div>
    <div class="edit edit-variation">
        <div>
            <div class="edit-item">
                <div>Kích thước</div>
                <hr />
            </div>
            <div class="edit-item">

                <div class="edit-item-variation">
                    <form asp-area="Admin" asp-controller="products" asp-action="AddVariation">
                        <input type="hidden" asp-for="productId" />
                        @foreach (var outerItem in Model.Variations)
                        {
                            @if (outerItem.name == "size")
                            {
                                isAdded = false;

                                @foreach (var innerItem in Model.productVariations)
                                {
                                    if (innerItem.variationId == outerItem.Id)
                                    {
                                        isAdded = true; // Nếu tìm thấy phần tử tương đương, đặt isAdded thành true và thoát vòng lặp

                                        break;
                                    }
                                }


                                @if (isAdded)
                                {
                                    <div class="edit-item-variation-item">
                                        <div class="admin-variation-select">
                                            <label>
                                                <input asp-for="Id" type="radio"
                                                       value="@outerItem.Id" />
                                            </label>
                                        </div>
                                        <div class="admin-variation-value" style="color:dodgerblue;">
                                            @outerItem.value
                                        </div>
                                        <div class="admin-variation-control">
                                            <button class="btn-vremove"><i class="fas fa-remove" onclick="deletevariation(productId,@outerItem.Id)"></i></button>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="edit-item-variation-item" style="margin-top: 5px;">
                                        <div class="admin-variation-control">
                                            <label>
                                                <input asp-for="Id" type="radio"
                                                       value="@outerItem.Id" />
                                            </label>
                                        </div>
                                        <div class="admin-variation-value">
                                            @outerItem.value
                                        </div>
                                        <div class="admin-variation-control">
                                            <button type="submit" class="btn-vcheck"><i class="fas fa-check"></i></button>
                                        </div>
                                    </div>

                                }
                            }
                        }
                    </form>

                 
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script>
        async function deletevariation(productId, variationId) {
            try {
                var response = await fetch(`/Admin/products/DeleteVariation?productId=${productId}&variationId=${variationId}`);
                if (response.status == 200) {
                    var result = await response.json();
                    location.reload();
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>
  }

