@model CNPM_ktxUtc2Store.Models.product

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="admin-product-head">
    <div class="head-item">
        <h5><i class="far fa-clipboard"></i>Xóa sản phẩm</h5>
    </div>

    <div class="head-item search-box">
        <form class="form-inline" asp-area="" asp-controller="Home" asp-action="Index" method="get" style="display: flex; flex-direction: row;">
            <div class="">
                <input type="text" name="searchName" placeholder="Search">
            </div>
            <button class="" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Tìm</button>
        </form>
    </div>
</div>
<div style="display: grid; grid-template-columns: 60%; justify-content: space-evenly;">
    <div class="card">
        <!--card trái-->

        <div class="product-imgs">
            <div class="img-display">
                <div class="img-showcase">
                    <img src="/images/@Html.DisplayFor(model => model.imageUrl)" alt="Tshirt image">

                </div>
            </div>
        </div>

        <!--card phải-->
        <div class="product-content">
            <h2 class="product-title">@Html.DisplayFor(model => model.productName)</h2>



            <div class="product-price">
                <p class="last-price">Giá cũ: <span class="money">@Html.DisplayFor(model => model.oldprice)</span></p>
                <p class="new-price">Giá hiện tại: <span class="money">@Html.DisplayFor(model => model.price)</span></p>
            </div>

            <div class="product-detail">
                <form asp-area="" asp-controller="Home" asp-action="Details">
                    @* <div class="box-detail">
                    <p class="title">Kích thước: </p>
                    <div class="item-detail">
                    @foreach (var item in Model.product.ProductVariations)
                    {
                    @if (item.variation.name == "size")
                    {
                    <div class="item-btn">
                    <input asp-for="size" id="@item.variation.value" type="radio" class="variation-size" name="size" value="@item.variation.value">
                    <label for="@item.variation.value">@item.variation.value</label>
                    </div>


                    }
                    }
                    </div>

                    </div>
                    <div class="box-detail">
                    <p class="title">Màu sắc: </p>
                    <div class="item-detail">
                    @foreach (var item in Model.product.ProductVariations)
                    {
                    @if (item.variation.name == "color")
                    {
                    <div class="item-btn">
                    <input asp-for="color" id="@item.variation.value" type="radio" class="variation-color" name="color" value="@item.variation.value">
                    <label for="@item.variation.value">@item.variation.value</label>
                    </div>


                    }
                    }
                    </div>

                    </div> *@
                    <div class="box-detail amount">
                        <h6>@Html.DisplayFor(model => model.qty_inStock) sản phẩm có sẵn</h6>
                    </div>


                </form>

            </div>

            <div class="product-describe">
                <h3>MÔ TẢ SẢN PHẨM</h3>
                @Html.DisplayFor(model => model.description)
            </div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Xác nhận xoá" class="btn wrap-btn m-color-full" />

            </form>

        </div>

    </div>
</div>
    

