@model IEnumerable<CNPM_ktxUtc2Store.Models.product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form class="form-inline" asp-action="Index" method="get" >
    <input class="form-control me-2"  type="search" placeholder="Search" name="name"aria-label="Search">
    giá từ <input type="number" name="to" /> đến <input type="number" name="from" />
    <button class="btn btn-outline-success" type="submit">Search</button>
    
</form>
<table class="table">
    <thead>
        <tr>
            <th>
              Tên sản phẩm
            </th>
            <th>
                Miêu tả
            </th>
            <th>
              Giảm giá
            </th>
            <th>
               Gía
            </th>
            <th>
              ảnh
            </th>
           
            <th>
               số lượng còn lại
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
              @item.productName
            </td>
            <td>
               @item.description
            </td>
            <td>
                @item.discount
            </td>
            <td>
               @item.price
            </td>
            <td>
               <img src="/images/@item.imageUrl">
            </td>
            
            <td>
               @item.qty_inStock
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
