@model IEnumerable<CNPM_ktxUtc2Store.Models.InforStorage>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

@foreach(var item in Model)
{

<div class="admin-product-head" style="position: relative;">
    <div class="head-item">
        <h5><i class="far fa-clipboard"></i> Thông tin cửa hàng</h5>
    </div>
        <div style="position: absolute; top: 15px; right: 50px;">
        <a asp-action="Edit" asp-route-id="@item?.Id"><button class="btn-return">Chỉnh sửa thông tin</button> </a>

    </div>
</div>
<div class="edit-body">

<div class="edit" style="background: white;">
    <div class="Info-item"> 
        <div class="InfoStore"><p>:Tên cửa hàng</p></div>
        <div class="InfoStore2">@item.namestorage</div>
    </div>
        <div class="Info-item">
            <div class="InfoStore">:Số điện thoại</div>
            <div class="InfoStore2">@item.phonenumbershop</div>
    </div>
        <div class="Info-item">
            <div class="InfoStore"> :Email</div>
            <div class="InfoStore2">@item.emailwork</div>
    </div>
        <div class="Info-item">
            <div class="InfoStore">:CSKH</div>
            <div class="InfoStore2">@item.emailcskh</div>
    </div>
        <div class="Info-item">
            <div class="InfoStore">:Thời gian hoạt động</div>
            <div class="InfoStore2">@item.timework</div>
    </div>
        <div class="Info-item">
            <div class="InfoStore">:Facebook</div>
            <div class="InfoStore2">@item.linkfacbook</div>
    </div>
        <div class="Info-item">
            <div class="InfoStore">:Instagram</div>
            <div class="InfoStore2">@item.linkInstagram</div>
    </div>
        <div class="Info-item">
            <div class="InfoStore">:Youtube</div>
            <div class="InfoStore2">@item.linkfacbook</div>
    </div>
        <div class="Info-item">
            <div class="InfoStore">:Tiktok</div>
            <div class="InfoStore2"> @item.linktiktok</div>
    </div>
</div>


</div>
}