@using X.PagedList;
@using X.PagedList.Mvc.Bootstrap4.Core;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<CNPM_ktxUtc2Store.Models.product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
   
}

<h1>Quản lí sản phẩm</h1>

<form class="form-inline"  asp-action="Index" method="get" style="display:flex; flex-direction:row; justify-content:flex-end;margin-bottom:20px;">
    <input class="form-control me-2" type="search" placeholder="Search" name="SearchString" aria-label="Search" style="max-width:20%;">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
    <div class="repos-main-list">
        <section class="repos-main-list-info">
            <h3 class="hidden-item-main-title">Item Info</h3>
            <div class="repos-item-name">
                <h5>Tên SP</h5>
            </div>
            <!--    -->
            <div class="repos-item-classify">
                <h5>Phân loại </h5>
            </div>
            <!--    -->
            <div class="repos-item-price">
                <h5>Giá</h5>
            </div>
            <!--    -->
            <div class="repos-item-discount">
                <h5>Giảm giá</h5>
            </div>
            <!--    -->
            <div class="repos-item-inventory">
                <h5>Tồn kho</h5>
            </div>
            <div class="repos-item-img">
                
                <h5>Hình ảnh</h5>
            </div>
            <div class="repos-item-control">
                <h5>Thao tác</h5>
            </div>
            <!--    -->

        </section>
    <hr />
    </div>
    @foreach (var item in Model)
    {
      
        <section class="repos-main-list-info">
            <h3 class="hidden-item-main-title">Item Info</h3>
            <!--    -->
        <div class="repos-item-name">
               
                @Html.DisplayFor(modelItem => item.productName)
            </div>
            <!--    -->
            <div class="repos-item-classify">
                <h5>Phân loại </h5>
            </div>
            <!--    -->
            <div class="repos-item-price">
                @Html.DisplayFor(modelItem => item.price)
            </div>
            <!--    -->
            <div class="repos-item-discount">
                @Html.DisplayFor(modelItem => item.discount)
            </div>
            <!--    -->
            <div class="repos-item-inventory">
                @Html.DisplayFor(modelItem => item.qty_inStock)
            </div>
            <div class="repos-item-img">
                <div class="repos-item-img-container">
                    <img class="repos-item-img-show" src=" /images/@item.imageUrl" />
                <h5 class="repos-item-img-hover">&#128065</h5>
                </div>
                
            </div>
            <div class="repos-item-control">
                <h5>Thao tác</h5>
            </div>
        </section>
    <hr />
    }
<div>
    <div style="text-align:center; margin:2px;">
        Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    </div> 
    <div style="display: grid; place-content:center;"> 
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
</div>






