@model CNPM_ktxUtc2Store.Dto.doneOrder
@{
  
}
<div style="width:90%; margin:auto">
    @if (Model != null )
    {
        <h3>My order</h3>
        <table class="table table-striped"> 
            <tr>
                <th></th>
                <th>Tên sản phẩm</th>
                <th>Phân loại</th>
                <th>Số lượng</th>
                <th>Giá</th>
            </tr>
            @foreach (var order in Model.orderList)
            {
                <form >
                    @foreach (var item in order.orderDetails)
                    {
                    <tr>
                         <td>
                                <input asp-for="orderId" type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                
                         </td>
                        <td>@item.product.productName</td>
                        <td>
                            <span>@item.size</span>
                            <span>@item.color</span>
                        </td>
                        <td>@item.quantity</td>
                        <td>@item.product.price</td>

                    </tr>
                    }
                </form>
                
            }

        </table>
       
    }
</div>

