@model CNPM_ktxUtc2Store.Dto.doneOrder
@{
  
}
<div style="width:90%; margin:auto">
    @if (Model != null )
    {
        <form asp-area="" asp-controller="UserOrder" asp-action="Userorder">
        <h3>My order</h3>
        <table class="table table-striped"> 
            <tr>
                <th></th>
                <th>Tên sản phẩm</th>
                <th>Phân loại</th>
                <th>Số lượng</th>
                <th>Giá</th>
                <th>Tổng tiền</th>
            </tr>
            @foreach (var order in Model.orderList)
            {
              
                    @foreach (var item in order.orderDetails)
                    {
                    <tr>
                         <td>
                            <label>
                                @* viết js khi nhấn vào đây sẽ hiện ra tồng tiền sản phẩm
                                đường dẫn tổng tiền của sản phẩm đó 
                                *@
                                <input  asp-for="orderId" type="radio"
                                       
                                       value="@item.orderId" /> 
                            </label>
                                
                         </td>
                        <td>@item.product.productName</td>
                        <td>
                            <span>@item.size</span>
                            <span>@item.color</span>
                        </td>
                        <td>@item.quantity</td>
                        <td>@item.product.price</td>
                        <td>@(item.unitPrice * item.quantity)</td>

                    </tr>
                    }   
            }
        </table>
        <button type="submit">Đặt hàng</button>
           </form>  
    }
</div>



