@model CNPM_ktxUtc2Store.Areas.Admin.dto.dask
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div>
    <h4>Index</h4>
    <hr />
    <div class="all-panel">
        <div class="statt-panel">
            <div class="statt-img" style="background-color: lightblue;">
                <div>HAHAHAHA</div>
            </div>
            <div class="statt-details">
                <div class="statt-details-1" style="background-color: red;">
                    Số nhân viên
                </div>
                <div class="statt-details-2" style="background-color: yellow;">
                    @Html.DisplayFor(model => model.sonhanvien)
                </div>
            </div>
        </div>
        <div class="statt-panel">
            <div class="statt-img" style="background-color: lightblue;">
                <div>HAHAHAHA</div>
            </div>
            <div class="statt-details">
                <div class="statt-details-1" style="background-color: red;">
                    Số người dùng
                </div>
                <div class="statt-details-2" style="background-color: yellow;">
                    @Html.DisplayFor(model => model.songuoidung)
                </div>
            </div>
        </div>
        
        <div class="statt-panel">
            <div class="statt-img" style="background-color: lightblue;">
                <div>HAHAHAHA</div>
            </div>
            <div class="statt-details">
                <div class="statt-details-1" style="background-color: red;">
                    Tổng nhập hàng
                </div>
                <div class="statt-details-2" style="background-color: yellow;">
                    @Html.DisplayFor(model => model.tongnhaphang)
                </div>
            </div>
        </div>
        <div class="statt-panel">
            <div class="statt-img" style="background-color: lightblue;">
                <div>HAHAHAHA</div>
            </div>
            <div class="statt-details">
                <div class="statt-details-1" style="background-color: red;">
                    Tổng doanh số
                </div>
                <div class="statt-details-2" style="background-color: yellow;">
                    @Html.DisplayFor(model => model.tongdoanhso)
                </div>
            </div>
        </div>
    </div>

    <h2>Những sản phẩm đã bán</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                   Sản phẩm
                </th>
                <th>
                    Tổng giá nhập
                </th>
                <th>
                    Tổng doanh thu
                </th>
                <th>
                  Số lượng đã bán
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.orderDetail)
            {
                @if (item.productId == item.product.Id)
                {
                    <tr>
                        <td>
                            @item.product.productName
                        </td>

                        <td>
                            @(item.product.oldprice * item.product.soluongnhap)
                        </td>
                        <td>
                            @(item.quantity* item.product.price)
                        </td>
                        <td>
                            @(item.product.soluongnhap - item.product.qty_inStock)
                        </td>

                    </tr>
                }
               
            }
        </tbody>
    </table>

</div>
